* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(dsd.png);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header h1 {
  font-size: 28px;
  margin: 0;
}

.h2e {
  font-size: 20px;
  margin: 0;
  color: #f2f2ed;
  background: #09132e;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
}

header {
  background: #09132e;
  color: white;
  text-align: center;
  padding: 15px;
}

nav {
  background-color: #09132e;
  padding: 10px;
  text-align: center;
}

nav a {
  color: rgb(0, 0, 0);
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s;
  display: inline-block;
  background-color: #f2f4f5;
  padding: 8px 20px;
  border-radius: 6px;
}

nav a:hover {
  color: #ffffff;
  transform: translateY(-4px);
  background-color: #0e0e0e;
  transition: transform 0.3s, background-color 0.3s;
}

main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  margin-bottom: 0px;
  width: 80%;
  border-radius: 10px;
  text-align: center;
}

.card h2 {
  text-align: center;
}

.card p {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  margin: 8px 0;
}

table {
  height: 350px;
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  background: white;
}

th {
  background: #091a3f;
  color: white;
  padding: 10px;
  border: 1px solid #ccc;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
}

tr:hover {
  background: #dfe6ec;
  transition: 0.3s;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 8px;
}

button {
  background: #2563eb;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 10px;
}

button:hover {
  background: #001380;
}

footer {
  background: #09132e;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  header h1 {
    font-size: 20px;
  }

  nav a {
    display: block;
    margin: 8px auto;
    width: 80%;
  }

  table {
    display: block;
    overflow-x: auto;
    width: 100%;
  }

  .card {
    width: 95%;
    padding: 15px;
  }
}